.background{
    background-color: #151c28;
    text-align: center;

}
.soundboard{
    color: #ffe14f;

}


.bullet{
    list-style: none;

}
.container{
    display: flex;
    justify-content: center;
}
.container-item{
    float: left;
    width: 20%;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    text-align: center;
    border: solid 2px #ffe14f;


}
.container-item:hover{
    background-color: #8daec6;
}

.controls{
    width: 100%;
}
image {
    max-width: 100%;
    max-height: 100%;
}


